export(apStats)
exportClasses(AntiProfile)
exportClasses(AntiProfileStats)
exportClasses(TissueSpecAntiProfile)
exportMethods(apCount)
exportMethods(apReorder)
exportMethods(buildAntiProfile)
exportMethods(getNormalRegions)
exportMethods(getNormalTissueRegions)
exportMethods(getProbeStats)
exportMethods(getProbesetIds)
